body {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: white;
}

.container {
    background-color: rgba(35, 35, 35, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 600px;
    margin-top: 90px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.btn-submit {
    background-color: #a83273;
    color: white;
    width: 100%;
}

.btn-submit:hover {
    background-color: #731a54;
}

.alert {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: white;
}

.form-control {
    background-color: #555;
    color: white;
    border: 1px solid #666;
}

.form-control:focus {
    background-color: #666;
    border-color: #731a54;
    color: #ffffff;
    box-shadow: 0 4px 10px #731a5480;
  
}

.form-check-label {
    color: white;
}

.text-danger {
    color: #ff4d4d;
    font-size: 0.875em;
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.back-btn {
    background-color: #a83273;
    border-color: #a83273;
    top: 20px;
    right: 140px;
}

.btn-logout {
    background-color: #a83273;
    top: 20px;
    right: 20px;
}

.back-btn,
.btn-logout {
    top: 20px;
    position: absolute;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100px;
}

.back-btn:hover {
    background-color: #731a54;
    border-color: #731a54;
}